<div class="jumbotron p-3 mt-3 shadow-sm">
  <h1 class="display-4">bookstore-rails-api</h1>
  <p class="lead">api for bookstore-react-redux front-end app. this REST api alows to manage database resources. a signed user can: add, remove, list and update books as well as select a favourite book.</p>
</div>


<%= render "data/users" %>
<%= render "data/books" %>
<%= render "data/favourites" %>